<!DOCTYPE html>
<html lang="en" ng-app="countryaday">
  <head>
    <meta charset="utf-8">
    <title>Country a Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">

    <link href="css/app.css" type="text/css" rel="stylesheet">
  </head>
  <body
    <%= "data-signed-in=\"#{signed_in}\"" %>
    <% if defined? current_country %>
      data-current-country="<%= current_country %>"
    <% end %>
    <% if defined? countries %>
      data-countries="<%= countries %>"
    <% end %>
    <% if defined? flash %>
      data-flash="<%= flash %>"
    <% end %>
  >
    <div class="container">
      <div class="row title">
        <div class="span4">
          <h1><a href="#/">Country a Day</a></h1>
          Learn about a new country every day!
        </div>
        <div class="span8">
          <a ng-show="user.signedIn" href="/signout" class="btn btn-mini btn-acad-nav">
            <i class="fui-exit"></i>Sign out
          </a>
          <a ng-show="user.signedIn" href="#/my-countries" class="btn btn-mini btn-acad-nav">
            <i class="fui-book"></i>My Countries
          </a>
          <a ng-hide="user.signedIn || hideWelcome" href="#/welcome" class="btn btn-mini btn-acad-nav">
            <i class="fui-user"></i>Sign in or Register
          </a>
          <a ng-show="user.countries.today" href="#/country/{{user.countries.today}}" class="btn btn-mini btn-acad-nav">
            <i class="fui-location"></i>Learn about {{user.countries.today | titleize}}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div worldmap class="map"></div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="main" ng-cloak>
            <div class="alert alert-success" ng-show="flash" style="margin: 0 20px 10px 20px">
              <button type="button" class="close fui-cross" ng-click="closeFlash()"></button>
              {{flash}}
            </div>
            <div class="loading-services" ng-show="loading.country">
              <div class="row">
                <div class="offset3 span6">
                  <h2>{{loading.country | titleize}}<h2>
                </div>
                <div ng-class="{'service-loaded': loading.wikipediaComplete}" class="service-logo offset3 span2">
                  <img src="images/wikipedia-logo.png" /><br />
                  Wikipedia
                </div>
                <div ng-class="{'service-loaded': loading.openPlatformComplete}" class="service-logo span2">
                  <img src="images/open-platform-logo.png" /><br />
                  The Guardian's
                  <br />
                  Open Platform
                </div>
                <div ng-class="{'service-loaded': loading.geonamesComplete}" class="service-logo span2">
                  <img src="images/geonames-logo.png" /><br />
                  Geonames
                </div>
                <div class="offset3 span6">
                  <h2>Gathering Information<h2>
                </div>
              </div>
            </div>
            <div ng-hide="loading.country" ng-view></div>
          </div>
        </div>
      </div> <!-- /row -->
    <div class="row">
      <div class="span12 footer">
        Created by <a href="https://github.com/bolandrm">Ryan Boland</a> with the help of 
        <a href="https://github.com/bolandrm/countryaday#services--libraries">various libraries and services</a>. &nbsp;
        Source available on <a href="https://github.com/bolandrm/countryaday">Github</a>.
      </div>
    </div>
    </div><!-- /.container -->

    <% if ENV['RACK_ENV'] == 'production' %>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="js/app.min.js"></script>
    <% else %>
      <script src="vendor/flat/js/jquery-1.8.3.min.js"></script>
      <script src="vendor/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.min.js"></script>
      <script src="vendor/jquery-jvectormap-1.2.2/jquery-jvectormap-world-mill-en.js"></script>

      <script src="vendor/angular/angular.min.js"></script>
      <script src="vendor/angular/angular-cookies.min.js"></script>

      <script src="js/app.js"></script>

      <script src="js/controllers/welcome_controller.js"></script>
      <script src="js/controllers/country_controller.js"></script>
      <script src="js/controllers/my_countries_controller.js"></script>

      <script src="js/services/user_service.js"></script>
      <script src="js/services/country_service.js"></script>
      <script src="js/services/wikipedia_service.js"></script>
      <script src="js/services/geonames_service.js"></script>
      <script src="js/services/open_platform_service.js"></script>

      <script src="js/directives/worldmap_directive.js"></script>

      <script src="js/filters/expand_currency_filter.js"></script>
      <script src="js/filters/titleize_filter.js"></script>
      <script src="js/filters/expand_languages_filter.js"></script>
      <script src="js/filters/add_commas_filter.js"></script>
    <% end %>
  </body>
</html>
