<h2 class="country centered">My Countries</h2>

<div class="row">
  <div class="span6 offset3 country-progress-bar">
    <div class="progress">
      <div class="countries-learned-bar bar" style="width: {{percent}}%;"></div>
    </div>
    {{totalLearned}} of {{totalCountries}} Countries Learned
  </div>
</div>

<div class="row">
  <div class="span8 offset2">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th class="centered">Country</th>
          <th class="centered">Learned On</th>
        </tr>
        <tr ng-hide="countriesLearned"><td colspan="2">
            <a href="#" class="btn btn-large btn-block disabled">Loading...</a>
        </td></tr>
        <tr ng-repeat="country in countriesLearned">
          <td class="centered">
            <a ng-href="/#/country/{{country.name}}">{{country.name | titleize}}</a>
          </td>
          <td class="centered">{{country.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
